body { background: #3fd827; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 18px; display: flex; }
.block-user-0 { color: #fc32b8; font-size: 19px; margin-bottom: 5px; }
.block-filter-1 { color: #dd47ba; font-size: 13px; margin-bottom: 5px; }
.block-session-2 { color: #29a14c; font-size: 21px; margin-bottom: 5px; }
.block-validator-3 { color: #8a8fe5; font-size: 12px; margin-bottom: 5px; }
.block-notify-4 { color: #38917b; font-size: 14px; margin-bottom: 5px; }